<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LevelHelper2-SpriteKit-NO_ARC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>LevelHelper2-SpriteKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6E01306318E021A1004E95BD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6E01308E18E021A2004E95BD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6EB7E12118E2D177009E87AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
