<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>animations</key>
	<array/>
	<key>aspect</key>
	<integer>2</integer>
	<key>backgroundColor</key>
	<string>{{1, 0.99997437000274658}, {0.99999129772186279, 1}}</string>
	<key>children</key>
	<array>
		<dict>
			<key>alpha</key>
			<real>16.604375839233398</real>
			<key>anchor</key>
			<string>{0, 0}</string>
			<key>animations</key>
			<array/>
			<key>children</key>
			<array/>
			<key>colorOverlay</key>
			<string>{{1, 1}, {1, 1}}</string>
			<key>devicePositions</key>
			<dict>
				<key>1024x768</key>
				<string>{-0.033333333333333333, -0.10000000000000001}</string>
				<key>1136x640</key>
				<string>{-0.092708333333333337, 0}</string>
				<key>2048x1536</key>
				<string>{-0.033333333333333333, -0.10000000000000001}</string>
				<key>960x640</key>
				<string>{0, 0}</string>
			</dict>
			<key>generalPosition</key>
			<string>{-0.092708333333333337, 0}</string>
			<key>imageFileName</key>
			<string>bgrd.png</string>
			<key>name</key>
			<string>bgrd</string>
			<key>nodeType</key>
			<string>LHSprite</string>
			<key>parentUUID</key>
			<string>65850486-3925-499F-A4AA-7496D77808FA</string>
			<key>perDevicePosition</key>
			<true/>
			<key>relativeImagePath</key>
			<string>images/</string>
			<key>rotation</key>
			<real>0.0</real>
			<key>scale</key>
			<string>{1, 1}</string>
			<key>size</key>
			<string>{128, 128}</string>
			<key>tagName</key>
			<string>DEFAULT</string>
			<key>uuid</key>
			<string>E5224959-FC9D-4EEE-8624-04FDACD46422</string>
			<key>zOrder</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>alpha</key>
			<real>255</real>
			<key>canBeCut</key>
			<true/>
			<key>collideConnected</key>
			<false/>
			<key>colorOverlay</key>
			<string>{{0.81731957197189331, 0.45599862933158875}, {0.1895785927772522, 1}}</string>
			<key>fadeOutDelay</key>
			<real>2.2999999523162842</real>
			<key>length</key>
			<real>414.34088134765625</real>
			<key>name</key>
			<string>UntitledRopeJoint</string>
			<key>nodeType</key>
			<string>LHRopeJoint</string>
			<key>parentUUID</key>
			<string>65850486-3925-499F-A4AA-7496D77808FA</string>
			<key>relativeImagePath</key>
			<string>/LevelHelper2-SpriteKit/Resources/images/cartoonRope.png</string>
			<key>relativePosA</key>
			<string>{0.67770230770111084, 4.4012908935546875}</string>
			<key>relativePosB</key>
			<string>{-0.20200967788696289, -4.3762302398681641}</string>
			<key>removeAfterCut</key>
			<true/>
			<key>segments</key>
			<real>21</real>
			<key>shouldDraw</key>
			<true/>
			<key>spriteAUUID</key>
			<string>D337360F-99F0-4D76-A892-89F2D32F9827</string>
			<key>spriteBUUID</key>
			<string>84A6ECCD-F5A4-4D68-BC96-37D4FD381263</string>
			<key>tagName</key>
			<string>DEFAULT</string>
			<key>thickness</key>
			<real>8</real>
			<key>useTexture</key>
			<false/>
			<key>uuid</key>
			<string>B10354E3-7520-4166-BFC8-3FB2A3C99C80</string>
			<key>uvRepetitions</key>
			<string>{1, 24}</string>
			<key>zOrder</key>
			<integer>-1</integer>
		</dict>
		<dict>
			<key>alpha</key>
			<real>255</real>
			<key>anchor</key>
			<string>{0.5, 0.5}</string>
			<key>animations</key>
			<array/>
			<key>children</key>
			<array/>
			<key>colorOverlay</key>
			<string>{{1, 1}, {1, 1}}</string>
			<key>generalPosition</key>
			<string>{1.1848615010579426, 35.989904785156249}</string>
			<key>imageFileName</key>
			<string>objects.png</string>
			<key>name</key>
			<string>object_bananabunch</string>
			<key>nodePhysics</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>genericFixture</key>
				<dict>
					<key>category</key>
					<integer>1</integer>
					<key>density</key>
					<real>0.10000000149011612</real>
					<key>fixtureID</key>
					<integer>0</integer>
					<key>friction</key>
					<real>0.20000000298023224</real>
					<key>mask</key>
					<integer>65535</integer>
					<key>name</key>
					<string>GenericFixture</string>
					<key>restitution</key>
					<real>0.0</real>
					<key>sensor</key>
					<false/>
				</dict>
				<key>gravityScale</key>
				<real>1</real>
				<key>shape</key>
				<integer>3</integer>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>nodeType</key>
			<string>LHSprite</string>
			<key>parentUUID</key>
			<string>65850486-3925-499F-A4AA-7496D77808FA</string>
			<key>relativeImagePath</key>
			<string>/</string>
			<key>rotation</key>
			<real>0.0</real>
			<key>scale</key>
			<string>{1, 1}</string>
			<key>size</key>
			<string>{128, 128}</string>
			<key>spriteName</key>
			<string>object_bananabunch</string>
			<key>spriteUUID</key>
			<string>60F9EAC9-FDD1-4EAB-811D-7A0EF562B591</string>
			<key>tagName</key>
			<string>DEFAULT</string>
			<key>uuid</key>
			<string>A29D1B69-B52E-4FE7-8E6C-AB3B12A69F5F</string>
			<key>zOrder</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>alpha</key>
			<real>255</real>
			<key>anchor</key>
			<string>{0.5, 0.5}</string>
			<key>animations</key>
			<array/>
			<key>children</key>
			<array/>
			<key>colorOverlay</key>
			<string>{{1, 1}, {1, 1}}</string>
			<key>devicePositions</key>
			<dict>
				<key>1024x768</key>
				<string>{0.040870931569811891, -0.028203063771302616}</string>
				<key>1136x640</key>
				<string>{-0.017054928517264933, 0.073316146655765552}</string>
				<key>2048x1536</key>
				<string>{0.040995191534360251, -0.028668832778930665}</string>
				<key>960x640</key>
				<string>{0.07524078967578926, 0.073162395193998891}</string>
			</dict>
			<key>generalPosition</key>
			<string>{0.040995191534360251, -0.028668832778930665}</string>
			<key>imageFileName</key>
			<string>objects.png</string>
			<key>name</key>
			<string>object_statue_1</string>
			<key>nodePhysics</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>genericFixture</key>
				<dict>
					<key>category</key>
					<integer>1</integer>
					<key>density</key>
					<real>0.10000000149011612</real>
					<key>fixtureID</key>
					<integer>0</integer>
					<key>friction</key>
					<real>0.20000000298023224</real>
					<key>mask</key>
					<integer>65535</integer>
					<key>name</key>
					<string>GenericFixture</string>
					<key>restitution</key>
					<real>0.0</real>
					<key>sensor</key>
					<false/>
				</dict>
				<key>gravityScale</key>
				<real>1</real>
				<key>shape</key>
				<integer>0</integer>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>nodeType</key>
			<string>LHSprite</string>
			<key>parentUUID</key>
			<string>65850486-3925-499F-A4AA-7496D77808FA</string>
			<key>perDevicePosition</key>
			<true/>
			<key>relativeImagePath</key>
			<string>/</string>
			<key>rotation</key>
			<real>90</real>
			<key>scale</key>
			<string>{1, 1}</string>
			<key>size</key>
			<string>{128, 128}</string>
			<key>spriteName</key>
			<string>object_statue</string>
			<key>spriteUUID</key>
			<string>0DB4639A-8D34-4D83-8FBD-20753577F85A</string>
			<key>tagName</key>
			<string>DEFAULT</string>
			<key>uuid</key>
			<string>66F2BE38-A4BD-4047-94C9-14551F25B662</string>
			<key>zOrder</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>alpha</key>
			<real>255</real>
			<key>anchor</key>
			<string>{0.5, 0.5}</string>
			<key>animations</key>
			<array/>
			<key>children</key>
			<array/>
			<key>colorOverlay</key>
			<string>{{1, 1}, {1, 1}}</string>
			<key>generalPosition</key>
			<string>{0.13591903377293987, 0.64532181317762249}</string>
			<key>imageFileName</key>
			<string>robots.png</string>
			<key>name</key>
			<string>blueRobot</string>
			<key>nodePhysics</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>genericFixture</key>
				<dict>
					<key>category</key>
					<integer>2</integer>
					<key>density</key>
					<real>0.10000000149011612</real>
					<key>fixtureID</key>
					<integer>0</integer>
					<key>friction</key>
					<real>0.20000000298023224</real>
					<key>mask</key>
					<integer>65533</integer>
					<key>name</key>
					<string>GenericFixture</string>
					<key>restitution</key>
					<real>0.0</real>
					<key>sensor</key>
					<false/>
				</dict>
				<key>gravityScale</key>
				<real>1</real>
				<key>shape</key>
				<integer>0</integer>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>nodeType</key>
			<string>LHSprite</string>
			<key>parentUUID</key>
			<string>65850486-3925-499F-A4AA-7496D77808FA</string>
			<key>relativeImagePath</key>
			<string>/</string>
			<key>rotation</key>
			<real>0.0</real>
			<key>scale</key>
			<string>{1, 1}</string>
			<key>size</key>
			<string>{128, 128}</string>
			<key>spriteName</key>
			<string>blueRobot</string>
			<key>spriteUUID</key>
			<string>2F3A5F3F-DA9C-471B-930F-35601F2AE875</string>
			<key>tagName</key>
			<string>DEFAULT</string>
			<key>uuid</key>
			<string>548D6713-BC6C-424D-91BD-1164D8CEC927</string>
			<key>zOrder</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>alpha</key>
			<real>255</real>
			<key>anchor</key>
			<string>{0.5, 0.5}</string>
			<key>animations</key>
			<array/>
			<key>children</key>
			<array/>
			<key>colorOverlay</key>
			<string>{{1, 1}, {1, 1}}</string>
			<key>generalPosition</key>
			<string>{0.10173737925951437, 0.36600729262780762}</string>
			<key>imageFileName</key>
			<string>robots.png</string>
			<key>name</key>
			<string>blueRobot_1</string>
			<key>nodePhysics</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>genericFixture</key>
				<dict>
					<key>category</key>
					<integer>2</integer>
					<key>density</key>
					<real>0.10000000149011612</real>
					<key>fixtureID</key>
					<integer>0</integer>
					<key>friction</key>
					<real>0.20000000298023224</real>
					<key>mask</key>
					<integer>65533</integer>
					<key>name</key>
					<string>GenericFixture</string>
					<key>restitution</key>
					<real>0.0</real>
					<key>sensor</key>
					<false/>
				</dict>
				<key>gravityScale</key>
				<real>1</real>
				<key>shape</key>
				<integer>0</integer>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>nodeType</key>
			<string>LHSprite</string>
			<key>parentUUID</key>
			<string>65850486-3925-499F-A4AA-7496D77808FA</string>
			<key>relativeImagePath</key>
			<string>/</string>
			<key>rotation</key>
			<real>0.0</real>
			<key>scale</key>
			<string>{1, 1}</string>
			<key>size</key>
			<string>{128, 128}</string>
			<key>spriteName</key>
			<string>blueRobot</string>
			<key>spriteUUID</key>
			<string>2F3A5F3F-DA9C-471B-930F-35601F2AE875</string>
			<key>tagName</key>
			<string>DEFAULT</string>
			<key>uuid</key>
			<string>E9251437-77D9-490D-9443-33A62EDA4598</string>
			<key>zOrder</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>alpha</key>
			<real>255</real>
			<key>anchor</key>
			<string>{0.5, 0.5}</string>
			<key>animations</key>
			<array/>
			<key>children</key>
			<array/>
			<key>colorOverlay</key>
			<string>{{1, 1}, {1, 1}}</string>
			<key>generalPosition</key>
			<string>{0.26747493965579111, 0.3756097131531419}</string>
			<key>imageFileName</key>
			<string>robots.png</string>
			<key>name</key>
			<string>pinkRobot</string>
			<key>nodePhysics</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>genericFixture</key>
				<dict>
					<key>category</key>
					<integer>8</integer>
					<key>density</key>
					<real>0.10000000149011612</real>
					<key>fixtureID</key>
					<integer>0</integer>
					<key>friction</key>
					<real>0.20000000298023224</real>
					<key>mask</key>
					<integer>65535</integer>
					<key>name</key>
					<string>GenericFixture</string>
					<key>restitution</key>
					<real>0.0</real>
					<key>sensor</key>
					<false/>
				</dict>
				<key>gravityScale</key>
				<real>1</real>
				<key>shape</key>
				<integer>0</integer>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>nodeType</key>
			<string>LHSprite</string>
			<key>parentUUID</key>
			<string>65850486-3925-499F-A4AA-7496D77808FA</string>
			<key>relativeImagePath</key>
			<string>/</string>
			<key>rotation</key>
			<real>0.0</real>
			<key>scale</key>
			<string>{1, 1}</string>
			<key>size</key>
			<string>{128, 128}</string>
			<key>spriteName</key>
			<string>pinkRobot</string>
			<key>spriteUUID</key>
			<string>68189927-8EF2-4BEE-BDC3-20BA98F11C64</string>
			<key>tagName</key>
			<string>DEFAULT</string>
			<key>uuid</key>
			<string>305FDAFE-65B6-4BF0-A975-E75B66F244F7</string>
			<key>zOrder</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>alpha</key>
			<real>255</real>
			<key>anchor</key>
			<string>{0.5, 0.5}</string>
			<key>animations</key>
			<array/>
			<key>children</key>
			<array/>
			<key>colorOverlay</key>
			<string>{{1, 1}, {1, 1}}</string>
			<key>generalPosition</key>
			<string>{0.26253486816721572, 0.65040096738802045}</string>
			<key>imageFileName</key>
			<string>robots.png</string>
			<key>name</key>
			<string>pinkRobot_1</string>
			<key>nodePhysics</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>genericFixture</key>
				<dict>
					<key>category</key>
					<integer>8</integer>
					<key>density</key>
					<real>0.10000000149011612</real>
					<key>fixtureID</key>
					<integer>0</integer>
					<key>friction</key>
					<real>0.20000000298023224</real>
					<key>mask</key>
					<integer>65535</integer>
					<key>name</key>
					<string>GenericFixture</string>
					<key>restitution</key>
					<real>0.0</real>
					<key>sensor</key>
					<false/>
				</dict>
				<key>gravityScale</key>
				<real>1</real>
				<key>shape</key>
				<integer>0</integer>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>nodeType</key>
			<string>LHSprite</string>
			<key>parentUUID</key>
			<string>65850486-3925-499F-A4AA-7496D77808FA</string>
			<key>relativeImagePath</key>
			<string>/</string>
			<key>rotation</key>
			<real>0.0</real>
			<key>scale</key>
			<string>{1, 1}</string>
			<key>size</key>
			<string>{128, 128}</string>
			<key>spriteName</key>
			<string>pinkRobot</string>
			<key>spriteUUID</key>
			<string>68189927-8EF2-4BEE-BDC3-20BA98F11C64</string>
			<key>tagName</key>
			<string>DEFAULT</string>
			<key>uuid</key>
			<string>3ED10305-9941-45BE-8023-D52B8144A866</string>
			<key>zOrder</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>alpha</key>
			<real>255</real>
			<key>anchor</key>
			<string>{0.5, 0.5}</string>
			<key>animations</key>
			<array/>
			<key>children</key>
			<array/>
			<key>colorOverlay</key>
			<string>{{1, 1}, {1, 1}}</string>
			<key>generalPosition</key>
			<string>{0.44359289666859658, 0.38775384019598957}</string>
			<key>imageFileName</key>
			<string>robots.png</string>
			<key>name</key>
			<string>greenRobot</string>
			<key>nodePhysics</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>genericFixture</key>
				<dict>
					<key>category</key>
					<integer>4</integer>
					<key>density</key>
					<real>0.10000000149011612</real>
					<key>fixtureID</key>
					<integer>0</integer>
					<key>friction</key>
					<real>0.20000000298023224</real>
					<key>mask</key>
					<integer>65531</integer>
					<key>name</key>
					<string>GenericFixture</string>
					<key>restitution</key>
					<real>0.0</real>
					<key>sensor</key>
					<false/>
				</dict>
				<key>gravityScale</key>
				<real>1</real>
				<key>shape</key>
				<integer>0</integer>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>nodeType</key>
			<string>LHSprite</string>
			<key>parentUUID</key>
			<string>65850486-3925-499F-A4AA-7496D77808FA</string>
			<key>relativeImagePath</key>
			<string>/</string>
			<key>rotation</key>
			<real>0.0</real>
			<key>scale</key>
			<string>{1, 1}</string>
			<key>size</key>
			<string>{128, 128}</string>
			<key>spriteName</key>
			<string>greenRobot</string>
			<key>spriteUUID</key>
			<string>9C8173A8-5D80-4F56-AFDB-115E6D744990</string>
			<key>tagName</key>
			<string>DEFAULT</string>
			<key>uuid</key>
			<string>817C15A8-D283-452E-A8F9-7732BDC46296</string>
			<key>zOrder</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>alpha</key>
			<real>255</real>
			<key>anchor</key>
			<string>{0.5, 0.5}</string>
			<key>animations</key>
			<array/>
			<key>children</key>
			<array/>
			<key>colorOverlay</key>
			<string>{{1, 1}, {1, 1}}</string>
			<key>generalPosition</key>
			<string>{0.39495263956883681, 0.63964396567160975}</string>
			<key>imageFileName</key>
			<string>robots.png</string>
			<key>name</key>
			<string>greenRobot_1</string>
			<key>nodePhysics</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>genericFixture</key>
				<dict>
					<key>category</key>
					<integer>4</integer>
					<key>density</key>
					<real>0.10000000149011612</real>
					<key>fixtureID</key>
					<integer>0</integer>
					<key>friction</key>
					<real>0.20000000298023224</real>
					<key>mask</key>
					<integer>65531</integer>
					<key>name</key>
					<string>GenericFixture</string>
					<key>restitution</key>
					<real>0.0</real>
					<key>sensor</key>
					<false/>
				</dict>
				<key>gravityScale</key>
				<real>1</real>
				<key>shape</key>
				<integer>0</integer>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>nodeType</key>
			<string>LHSprite</string>
			<key>parentUUID</key>
			<string>65850486-3925-499F-A4AA-7496D77808FA</string>
			<key>relativeImagePath</key>
			<string>/</string>
			<key>rotation</key>
			<real>0.0</real>
			<key>scale</key>
			<string>{1, 1}</string>
			<key>size</key>
			<string>{128, 128}</string>
			<key>spriteName</key>
			<string>greenRobot</string>
			<key>spriteUUID</key>
			<string>9C8173A8-5D80-4F56-AFDB-115E6D744990</string>
			<key>tagName</key>
			<string>DEFAULT</string>
			<key>uuid</key>
			<string>1E9D5D38-57A8-4EBA-B0D3-CC757897F19D</string>
			<key>zOrder</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>alpha</key>
			<real>255</real>
			<key>anchor</key>
			<string>{0.5, 0.5}</string>
			<key>animations</key>
			<array/>
			<key>children</key>
			<array/>
			<key>colorOverlay</key>
			<string>{{1, 1}, {1, 1}}</string>
			<key>generalPosition</key>
			<string>{0.70546251904121127, 0.16259415704761296}</string>
			<key>imageFileName</key>
			<string>ropeAssets.png</string>
			<key>name</key>
			<string>thumb_tack</string>
			<key>nodePhysics</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>genericFixture</key>
				<dict>
					<key>category</key>
					<integer>1</integer>
					<key>density</key>
					<real>0.10000000149011612</real>
					<key>fixtureID</key>
					<integer>0</integer>
					<key>friction</key>
					<real>0.20000000298023224</real>
					<key>mask</key>
					<integer>65535</integer>
					<key>name</key>
					<string>GenericFixture</string>
					<key>restitution</key>
					<real>0.0</real>
					<key>sensor</key>
					<false/>
				</dict>
				<key>gravityScale</key>
				<real>1</real>
				<key>shape</key>
				<integer>0</integer>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>nodeType</key>
			<string>LHSprite</string>
			<key>parentUUID</key>
			<string>65850486-3925-499F-A4AA-7496D77808FA</string>
			<key>relativeImagePath</key>
			<string>/</string>
			<key>rotation</key>
			<real>0.0</real>
			<key>scale</key>
			<string>{1, 1}</string>
			<key>size</key>
			<string>{128, 128}</string>
			<key>spriteName</key>
			<string>thumb_tack</string>
			<key>spriteUUID</key>
			<string>B647FA4A-442F-4032-8164-8FEF3601430D</string>
			<key>tagName</key>
			<string>DEFAULT</string>
			<key>uuid</key>
			<string>D337360F-99F0-4D76-A892-89F2D32F9827</string>
			<key>zOrder</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>alpha</key>
			<real>255</real>
			<key>anchor</key>
			<string>{0.5, 0.5}</string>
			<key>animations</key>
			<array/>
			<key>children</key>
			<array/>
			<key>colorOverlay</key>
			<string>{{1, 1}, {1, 1}}</string>
			<key>generalPosition</key>
			<string>{0.85136029844345673, 0.25313720940019946}</string>
			<key>imageFileName</key>
			<string>ropeAssets.png</string>
			<key>name</key>
			<string>candy</string>
			<key>nodePhysics</key>
			<dict>
				<key>allowSleep</key>
				<true/>
				<key>bullet</key>
				<false/>
				<key>fixedRotation</key>
				<false/>
				<key>genericFixture</key>
				<dict>
					<key>category</key>
					<integer>1</integer>
					<key>density</key>
					<real>0.10000000149011612</real>
					<key>fixtureID</key>
					<integer>0</integer>
					<key>friction</key>
					<real>0.20000000298023224</real>
					<key>mask</key>
					<integer>65535</integer>
					<key>name</key>
					<string>GenericFixture</string>
					<key>restitution</key>
					<real>0.0</real>
					<key>sensor</key>
					<false/>
				</dict>
				<key>gravityScale</key>
				<real>1</real>
				<key>shape</key>
				<integer>1</integer>
				<key>type</key>
				<integer>2</integer>
			</dict>
			<key>nodeType</key>
			<string>LHSprite</string>
			<key>parentUUID</key>
			<string>65850486-3925-499F-A4AA-7496D77808FA</string>
			<key>relativeImagePath</key>
			<string>/</string>
			<key>rotation</key>
			<real>0.0</real>
			<key>scale</key>
			<string>{1, 1}</string>
			<key>size</key>
			<string>{128, 128}</string>
			<key>spriteName</key>
			<string>candy</string>
			<key>spriteUUID</key>
			<string>554683CF-2615-41EF-956A-933D6F02D016</string>
			<key>tagName</key>
			<string>DEFAULT</string>
			<key>uuid</key>
			<string>84A6ECCD-F5A4-4D68-BC96-37D4FD381263</string>
			<key>zOrder</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>designResolution</key>
	<string>{960, 640}</string>
	<key>devices</key>
	<array>
		<dict>
			<key>ratio</key>
			<real>1</real>
			<key>size</key>
			<string>{960, 640}</string>
			<key>suffix</key>
			<string></string>
		</dict>
		<dict>
			<key>ratio</key>
			<real>1</real>
			<key>size</key>
			<string>{1136, 640}</string>
			<key>suffix</key>
			<string>-568</string>
		</dict>
		<dict>
			<key>ratio</key>
			<real>1</real>
			<key>size</key>
			<string>{1024, 768}</string>
			<key>suffix</key>
			<string>-ipad</string>
		</dict>
		<dict>
			<key>ratio</key>
			<real>2</real>
			<key>size</key>
			<string>{2048, 1536}</string>
			<key>suffix</key>
			<string>-ipad@2x</string>
		</dict>
	</array>
	<key>globalGravityDirection</key>
	<string>{-4.3711390001862412e-08, -0.999999999999999}</string>
	<key>globalGravityForce</key>
	<real>8</real>
	<key>nodeType</key>
	<string>LHScene</string>
	<key>physicsBoundaries</key>
	<dict>
		<key>1024x768</key>
		<string>{{1.020230770111084, 1.0812950134277344}, {-1.0405573844909668, -1.1597281694412231}}</string>
		<key>1136x640</key>
		<string>{{-0.069113083183765411, 0.032799437642097473}, {1.1444907188415527, 0.94153344631195068}}</string>
		<key>2048x1536</key>
		<string>{{0.018755991011857986, 0.063946738839149475}, {0.99372124671936035, 1.0009024143218994}}</string>
		<key>960x640</key>
		<string>{{0.015329750254750252, 0.066799789667129517}, {0.96377110481262207, 0.88822877407073975}}</string>
		<key>general</key>
		<string>{{0.015329750254750252, 0.066799789667129517}, {0.96377110481262207, 0.88822877407073975}}</string>
	</dict>
	<key>useGlobalGravity</key>
	<true/>
	<key>uuid</key>
	<string>65850486-3925-499F-A4AA-7496D77808FA</string>
</dict>
</plist>
